
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: white;
  font-family: sans-serif;
}

:root {
  --xbox: green;
  --ps:blue;
  --stadia: orange;
}

html, body {
  background-color: black;
}


section {
  height: 100%;
  padding: 5%;
}
header {
  background-color: rgb(54, 54, 54);
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 2;
}
#logo {
  height: 100%;
}
#header-img {
  height: 100%;
}
nav {
  text-align: end;
  width: 40%;
  display: flex;
  justify-content: end;
  align-items: center;
}
nav a {
  text-decoration: none;
  color: white;
  padding: 5%;
}
main {
  height: 100%;
}


section {
  height: 100%;
}

section:nth-child(2) {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}
section:nth-child(3) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

iframe {
  height: 30vh;
  width: 25vw;
}
.border:nth-child(1) {
  padding: 2vh;
  margin: 3px;
  border: 2px solid var(--xbox);
}
.border:nth-child(2) {
  margin: 3px;
  padding: 2vh;
  border: 2px solid var(--ps);
}
.border:nth-child(3) {
  margin: 3px;
  padding: 2vh;
  border: 2px solid var(--stadia);
}
section:nth-child(4) {
  height: fit-content;
}

.product-category {
  margin: auto;
  height: 5vh;
  width: fit-content;
  position: relative;
  display: flex;

}

.product-category a {

  line-height: 5vh;
  position: relative;
  z-index: 0;
  display: inline-block;
  text-align: center;

}
.indicator {
  position: absolute;
  height: 5px;
  bottom:0;
  z-index: 0;
  background-color: brown;
  transition: 1s ;
  clip-path: polygon(
    0 0,
    95% 0,
    100% 100%,
    5% 100%
  );

}

a:nth-child(1) {
  width: 100px;
}
a:nth-child(2) {
  width: 120px;
}
a:nth-child(3) {
  width: 100px;
}

nav.start-xbox, a:nth-child(1):hover~.indicator {
  width: 100px;
  left: 0;
  background-color: var(--xbox);
}
nav.start-play_station, a:nth-child(2):hover~.indicator {
  width: 120px;
  left: 100px;
  background-color: var(--ps);
}
nav.start-stadia, a:nth-child(3):hover~.indicator {
  width: 100px;
  left: 220px;
  background-color: var(--stadia);
}




.product-flex {
  height: 90%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

#xbox-items .card,
#xbox-items .card-shade,
#xbox-items .card-shade button  {
  border: 1px solid var(--xbox);
}
#xbox-items #side-l1,
#xbox-items #side-l2,
#xbox-items #side-l3,
#xbox-items #side-r1,
#xbox-items #side-r2,
#xbox-items #side-r3,
#xbox-items #side-arrow-top,
#xbox-items #side-arrow-bot {
  background-color: var(--xbox);
}
#ps-items .card,
#ps-items .card-shade,
#ps-items .card-shade button  {
  border: 1px solid var(--ps);
}
#ps-items #side-l1,
#ps-items #side-l2,
#ps-items #side-l3,
#ps-items #side-r1,
#ps-items #side-r2,
#ps-items #side-r3,
#ps-items #side-arrow-top,
#ps-items #side-arrow-bot {
  background-color: var(--ps);
}
#stadia-items .card,
#stadia-items .card-shade,
#stadia-items .card-shade button  {
  border: 1px solid var(--stadia);
}
#stadia-items #side-l1,
#stadia-items #side-l2,
#stadia-items #side-l3,
#stadia-items #side-r1,
#stadia-items #side-r2,
#stadia-items #side-r3,
#stadia-items #side-arrow-top,
#stadia-items #side-arrow-bot {
  background-color: var(--stadia);
}
.card {
  height: 500px;
  width: 350px;
  margin: 50px;

  position: relative;
}
.card-other {
  height: 500px;
  width: 350px;

  position: absolute;
}
#side-l1 {
  height: 150px;
  width: 10px;
  clip-path: polygon(
    0 0,
    10px 0,
    10px 150px,
    0 140px
  );
  position: absolute;
  top: 5px;
  left: -5px;
}
#side-l2 {
  height: 30px;
  width: 10px;
  clip-path: polygon(
    0 0,
    10px 10px,
    10px 30px,
    0 20px
  );
  position: absolute;
  top: 155px;
  left: -5px;
}
#side-l3 {
  height: 30px;
  width: 10px;
  clip-path: polygon(
    0 0,
    10px 10px,
    10px 30px,
    0 20px
  );
  position: absolute;
  top: 185px;
  left: -5px;
}
#side-r1 {
  height: 150px;
  width: 10px;
  clip-path: polygon(
    0 0,
    10px  10px,
    10px 150px,
    0 150px
  );
  position: absolute;
  bottom: 5px;
  right: -5px;
}
#side-r2 {
  height: 30px;
  width: 10px;
  clip-path: polygon(
    0 0,
    10px 10px,
    10px 30px,
    0 20px
  );
  position: absolute;
  bottom: 155px;
  right: -5px;
}
#side-r3 {
  height: 30px;
  width: 10px;
  clip-path: polygon(
    0 0,
    10px 10px,
    10px 30px,
    0 20px
  );
  position: absolute;
  bottom: 185px;
  right: -5px;
}
#side-arrow-top {
  height: 30px;
  width: 30px;
  clip-path: polygon(
    0 0,
    100% 0%,
    100% 100%
  );
  position: absolute;
  top: 0;
  right: 0;
}
#side-arrow-bot {
  height: 30px;
  width: 30px;
  clip-path: polygon(
    0 0,
    100% 100%,
    0% 100%
  );
  position: absolute;
  bottom: 0;
  left: 0;
}
.card-shade {
  background: linear-gradient(135deg, rgba(1,1,1,0.71) 0%, rgba(0,0,0,0.36) 100%);
  backdrop-filter: blur(50px);
  height: 480px;
  width: 330px;
  clip-path: polygon(
    0 0,
    300px 0px,
    330px 30px,
    330px 480px,
    30px 480px,
    0 450px
  );
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  line-height: 5;

  color: white;

  position: absolute;
  top: 10px;
  left: 10px;
  
}
#device{
}
#month {
}
#price{
}
.card-shade button {
  width: 50%;
  height: 8%;
  border: 1px solid var(--xbox);
  background-color: transparent;
}


#xbox-items button:hover {
  box-shadow: 0 0 50px var(--xbox);
  background-color: var(--xbox);
  transition: ease .5s;
}

#ps-items button:hover {
  box-shadow: 0 0 50px var(--ps);
  background-color: var(--ps);
  transition: ease .5s;
}
#stadia-items button:hover {
  box-shadow: 0 0 50px var(--stadia);
  background-color: var(--stadia);
  transition: ease .5s;
}

@media (max-width: 1000px) {
  .products {
    overflow-y: scroll ;
  }
}