@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: white;
  font-family: 'Play', sans-serif;
  font-weight: 200;
}

:root {
  --theme-border: #808080;
  --theme-bg: rgba(2, 72, 75, 0.267);
  --xbox: rgb(0, 128, 0);
  --theme-blur: 5px; 

}

html, body {
  background:
    url(https://i.pinimg.com/originals/bd/18/b0/bd18b06daaab52635c8592e6d5f0c015.jpg)
    no-repeat;
  background-size: auto;
  

}
header {
  width: 100%;
  height: 6.5vh;
  
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 100;

}
#header-img{
  visibility: hidden;
  z-index: -1;
  position: absolute;
}
.left {
  display: flex;
}
.right {
  margin-left: 10%;
  height: 6.5vh;
  display: flex;
}
.left .logo {
  height: 100%;
  background: var(--theme-bg);
  background-blend-mode: normal;
  backdrop-filter: blur(50px);
  width: 300px;
  clip-path:  polygon(
    0 0,
    100% 0,
    90% 100%,
    0 100%
  );
  padding: 0 3vw;
  display: flex;
}

.left #xbox {
  height: 6.5vh;
  width: 6.5vh;
  font-size: 3vh;
  text-align: center;
  line-height: 6.5vh;
}
.left span { 
  width: 5vw;
  font-size: 3vh;
  text-align: center;
  line-height: 6.5vh;
 
}
.left .profile {
  height: 5.5vh;
  width: 5.5vh;
  margin: 1vh 0 0 3vw;
  background:url(Web_files/Profile.jpg);
  background-size: contain;
  border-radius: 5vh;
}
.right a {
  display: inline-block;
  line-height: 6.5vh;
  text-align: center;
  margin: auto;
  width: 150px;
  

}

#nav-bar {
  top:0;
}






main {
  height: 100%;
  width: 100%;
  position: absolute;

  overflow-y: scroll;
  scroll-behavior: smooth;

}

section {
  height: 100%;
  padding: 5%;
  margin:0;
}
.section-title {
  text-align: center;
  font-size: xx-large;
  font-weight: 800;
  margin: 5vh;
}

.flex {
  height: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  gap: 5vw;
}
.grid {
  display: grid;
  grid-template-columns: auto auto auto;
}

section:nth-child(1) {
}
section:nth-child(1) h1 {
  margin-left: 50%;
}

#r {
  display: flex;
  justify-content: start;
  flex-flow: column;
  text-align: center;

  margin: 8% 0 0 50%;
  line-height: 2;
  padding: 5%;
}

form {
  margin-top: 5%;
}



section:nth-child(2){
  
  height: fit-content;
  position: relative;
}
#box {
  padding: 10%;
  font-size: 30px;
  text-align: center;
}
#box p{
  font-family: 'inter',sans-serif;
  font-size: 2vh;
  line-height: 5;
}
.videos {
  padding: 3%;
  width: 100%;
  display: flex;
}
iframe{
  margin: auto;
  position: relative;
  height:50vh;
  width:50vw;
  
}






section:nth-child(3) {
  height: 100vh;
  position: relative;
}
.card {
  height: 60vh;
  width: 40vh;

  position: relative;
  z-index: 5;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease-in-out .5s;
}
.arrow {
  height: 100%;
  width: 100%;

  position: absolute;
}
.shade {
  background: var(--theme-bg);
  background-blend-mode: normal;
  border: 1px solid var(--theme-border);
  backdrop-filter: blur(50px);
  height: 60vh;
  width: 40vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  gap: 8%;

  position: absolute;
  z-index: 6;
}
#device {
  font-size: 5vh;
  font-family: 'inter', sans-serif;
  font-weight: 400;
}
#duration {
  font-size: 3vh;
  font-family: 'inter', sans-serif;
}
#price {
  font-size: 3vh;
  font-family: 'inter', sans-serif;
}
#buy {
  height: 8%;
  width: 50%;
  background-color: transparent;
  border: 1px solid var(--theme-border);

  transition: ease-in-out .5s;
}
.card::before,
.arrow::before,
.arrow::after {
  content: '';

}
.card::before {
  border: 1px solid transparent;
  height: 60vh;
  width: 40vh;


  transition: ease .5s;
  
  position: absolute;
  z-index: -1;
}
.arrow::before, 
.arrow::after {
  
  height: 7vh;
  width: 7vh;
  position: absolute; 
  transition: ease 1s;
}
.arrow::before {
  top: 5vh;
  left: 5vh;
  clip-path: polygon(
    0 0,
    100% 0,
    0 100%
  );
}
.arrow::after {
  bottom: 5vh;
  right: 5vh;
  clip-path: polygon(
    100% 0,
    100% 100%,
    0 100%
  );

}
.card:hover {
  transform: scale(103%);
}
.card:hover::before{
  border: 1px solid var(--theme-border);
  height: 65vh;
  width: 45vh;

}
.arrow:hover::before, 
.arrow:hover::after {
  background: var(--theme-bg);
  background-blend-mode: normal;
  backdrop-filter: blur(5px);
  border: 1px solid var(--theme-border);
}
.arrow:hover::before {
  top: 0;
  left: 0;
}
.arrow:hover::after{
  bottom: 0;
  right: 0;
}
.shade:hover {
  clip-path: polygon(
    10vh 0,
    40vh 0,
    40vh 50vh,
    30vh 60vh,
    0 60vh,
    0 10vh
  );
  transition: 5s;
}

#buy:hover {
  box-shadow: 0 0 20px var(--xbox);
  border: 1px solid var(--xbox);

}




@media (max-width: 1000px) {
  header {    
    background: var(--theme-bg);
    background-blend-mode: normal;
    backdrop-filter: blur(50px);
    display: flex;
  }
  .left{
    content-visibility: hidden;
  }
  .right {

    margin: auto;
  }
  .right a {
    width: 30vw;
  }


  .grid{
    display:flex;
    align-items: center;
    flex-flow: column;
  }
  iframe{
    width: 90vw;
  }

  .section-title {

  }

  section:nth-child(1) h1 {
    margin-left: 0;
    width: 100%;
  }
  #r {
    margin: 25vh 0;
  }
  section:nth-child(3){
    height: fit-content;
  }


}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
}
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: none; 
  }
 
::-webkit-scrollbar-thumb {
    background: rgba(136, 136, 136, 0.25); 
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
    background: var(--xbox)
}


.blur { 
  height: 100%;
  width: 100%; 
  backdrop-filter: blur(20px);
  mix-blend-mode: normal;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

}

.sec-2A {
  clip-path:  polygon(
    0 0 ,
    50% 0,
    100% 100%,
    0 100%
  );

}

.sec-3A{
  clip-path:  polygon(
    100% 0 ,
    50% 100%,
    0 100%,
    0 0
  );
}

.sec-3B {

  clip-path:  polygon(
    100% 20%, 
    100% 50%, 
    80% 100%, 
    60% 100%
  );
 

}
.sec-3C {
  clip-path: polygon(
    100% 65%,
    100% 100%,
    85% 100%
  );


}